{% extends 'mypf/base.html' %}
<!--extended the base html file-->

<!--adding content-->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <!--Contact Form-->
            <form class="margin" action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="emailinput" class="col-2 col form-label">Email</label>
                    <div class="col-10">
                        <input name="email" type="email" class="form-control" id="emailinput" placeholder="name@example.com">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="subjectinput" class="col-2 col form-label">Subject</label>
                    <div class="col-10">
                        <input name="subject" type="text" class="form-control" id="subjectinput">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="messageinput" class="col-2 col form-label">Message</label>
                    <div class="col-10">
                        <textarea name="message" class="form-control" id="messageinput"></textarea>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary float-right btn-md">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}